<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<body>
	<!-- Login Section -->
	<h3>
		<span style="color: #337ab7; font-weight: bold;">G</span>estion <span
			style="color: #337ab7; font-weight: bold;">B</span>udget
	</h3>
	<div class="container">
		<div class="row ">
			<div class="login">
				<form class="form-signin" th:action="@{/index}" method="post">
					<h2 class="form-signin-heading">Authentification</h2>
					<div class="form-group">
						<label for="username" class="sr-only">username</label> <input
							type="text" roleId="username" class="form-control"
							placeholder="nom d'utilistaeur" name="username" id="username"
							required="required" autofocus="autofocus" />
					</div>
					<div class="form-group">
						<label for="password" class="sr-only">Mot de passe</label> <input
							type="password" roleId="inputPassword" class="form-control"
							placeholder="mot de passe" id="password" name="password"
							required="required" />
					</div>
					<div class="bg-danger" th:if="${param.error}"
						style="padding: 5px; margin-bottom: 10px;">Nom
						d'utilistaeur/mot de passe n'est pas valide</div>

					<button class="btn btn-lg btn-primary btn-block" type="submit">Se
						connecter</button>
				</form>

				<hr />

				<div class="form-group ">
					<a type="submit" class="btn btn-info btn-lg btn-block login-button"
						th:href="@{/signup}">S'inscrire</a>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>