<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<meta charset="utf-8" />
<body roleId="page-top" data-spy="scroll"
	data-target=".navbar-fixed-top">
	<!--<head th:replace="common/header :: navbar" />-->
	<div class="container">
		<div class="row main">
			<div class="panel-heading">
				<div class="panel-title text-center">
					<h1 class="title">S'inscrire</h1>
					<hr />
				</div>
			</div>
			<div class="main-login main-center">
				<form class="form-horizontal" method="post" th:action="@{/signup}">

					<div class="form-group">
						<label for="firstName" class="cols-sm-2 control-label">Pénom</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa"
									aria-hidden="true"></i></span> <input type="text" class="form-control"
									th:value="${user.firstName}" id="firstName" name="firstName"
									roleId="firstname" placeholder="Enter votre prénom"
									required="required" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="lastName" class="cols-sm-2 control-label">
							Nom</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa"
									aria-hidden="true"></i></span> <input type="text" class="form-control"
									th:value="${user.lastName}" id="lastName" name="lastName"
									roleId="lastName" placeholder="Enter votre nom"
									required="required" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="phone" class="cols-sm-2 control-label">Téléphone</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-phone fa"
									aria-hidden="true"></i></span> <input type="text" class="form-control"
									th:value="${user.phone}" id="phone" name="phone" roleId="phone"
									placeholder="xxx-xxx-xxxx" required="required" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="email" class="cols-sm-2 control-label">Votre
							Email</label><span class="bg-danger pull-right" th:if="${emailExists}">Email déjà" utilié
							</span>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fa fa-envelope fa" aria-hidden="true"></i></span> <input
									type="text" class="form-control" th:value="${user.email}"
									id="email" name="email" roleId="email"
									placeholder="Enter your Email" required="required" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="username" class="cols-sm-2 control-label">Nom d'utilisateur</label><span
							class="bg-danger pull-right" th:if="${usernameExists}">Nom d'utilisateur déjà utilisé
							</span>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa"
									aria-hidden="true"></i></span> <input type="text" class="form-control"
									th:value="${user.username}" id="username" name="username"
									roleId="username" placeholder="Enter nom d'utilisateur"
									required="required" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="password" class="cols-sm-2 control-label">Mot de passe</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fa fa-lock fa-lg" aria-hidden="true"></i></span> <input
									type="password" class="form-control"
									th:value="${user.password}" id="password" name="password"
									roleId="password" placeholder="Enter votre mot de passe"
									required="required" />
							</div>
							<div class="checkbox">
								<label> <input id="showPassword" type="checkbox" />Afficher le mot de passe
								</label>
							</div>
						</div>
					</div>

					<!--<div class="form-group">-->
					<!--<label for="confirm" class="cols-sm-2 control-label">Confirm Secret</label>-->
					<!--<div class="cols-sm-10">-->
					<!--<div class="input-group">-->
					<!--<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>-->
					<!--<input type="secret" class="form-control" name="confirm" roleId="confirm"  placeholder="Confirm your Secret" required="required"/>-->
					<!--</div>-->
					<!--</div>-->
					<!--</div>-->

					<div class="form-group ">
						<button type="submit"
							class="btn btn-primary btn-lg btn-block login-button">S'inscrire</button>
					</div>

					<hr />

					<div class="form-group ">
						<a class="btn btn-info btn-lg btn-block login-button"
							th:href="@{/}">Annuler</a>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>